body{
    margin: 0px;
    padding: 0px;
}
.ModalOverlay{
    position: fixed;
    top: 0 ;
left: 0 ;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7);
z-index: 1000;

}
.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: black solid 6px;
    padding: 90px;
    opacity: 0;
}
.modal--active{
    opacity: 1;
}
.ModalOverlay {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.ModalOverlay--active {
    opacity: 1;
    pointer-events: auto;
}